.about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.content {
  margin: 0 auto;
  padding: 20px;
  padding-top: 110px;
}

.paragraph {
  text-align: left;
}

.missionText {
  display: flex;
  padding: 0;
  margin: 0;
}
