.main {
  display: flex;
  min-height: 50.9vw;
  background-image: url('../../assets/images/backgrounds/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rowHome {
  display: flex;
  position: relative;
  bottom: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}

.containerHeading {
  display: flex;
  flex-direction: column;
  color: white;
}

.textHeading {
  position: relative;
  margin-left: 30px;
  width: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.572);
  z-index: 1;
}

.dropArrow {
  display: flex;
  height: 40px;
  animation-name: drop-Arrow;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes drop-Arrow {
  from {
    margin-bottom: 15px;
  }
  to {
    margin-bottom: 0;
  }
}

@media all and (min-width: 1000px) {
  .main {
    height: 100vh;
  }

  .rowHome {
    gap: 20vh;
  }
}

@media all and (min-width: 900px) {
  .main {
    height: 100vh;
  }

  .textHeading {
    font-size: 7vh;
  }

  .rowHome {
    gap: 40vh;
  }
  /* 
  .dropArrow {
    margin-left: 0;
  } */

  .container0 {
    min-height: 30vh;
    gap: 1vh;
  }

  .container1 {
    min-height: 30vh;
    gap: 1vh;
  }
}

@media all and (min-width: 800px) {
  .main {
    height: 100vh;
  }

  .textHeading {
    font-size: 7vh;
  }

  .rowHome {
    gap: 40vh;
  }

  .dropArrow {
    margin-left: 0;
  }

  .container0 {
    min-height: 30vh;
    gap: 1vh;
    padding-bottom: 15px;
  }

  .container1 {
    min-height: 30vh;
    gap: 1vh;
    padding-bottom: 15px;
  }
}

@media all and (max-width: 500px) {
  .main {
    height: 100vh;
  }

  .textHeading {
    font-size: 6vh;
    margin-left: 10px;
  }

  .rowHome {
    gap: 35vh;
  }

  /* .dropArrow {
    margin-left: 0;
  } */

  .container0 {
    flex-direction: row;
    min-height: 30vh;
    gap: 1vh;
  }

  .container1 {
    flex-direction: column;
    min-height: 30vh;
    gap: 1vh;
  }
}

@media all and (min-width: 400px) {
  .main {
    height: 100vh;
  }

  .textHeading {
    font-size: 6vh;
  }

  .rowHome {
    gap: 31vh;
  }

  /* .dropArrow {
    margin-left: 0;
  } */

  .container0 {
    flex-direction: column;
    min-height: 30vh;
    gap: 1vh;
  }

  .container1 {
    flex-direction: column;
    min-height: 30vh;
    gap: 1vh;
  }

  .MobileNav {
    display: none;
  }
}

/* @media all and (max-width: 800px) {
    .MobileNav{
        position: absolute;
        display: flex;
        top: 9.3vh;
        justify-content: center;
        width: 100%;
    }
    .navItemsMobile{
        display: flex;
        flex-direction: column;
        background-color: #353be552;
        width: 100%;
    }

    .navItemMobile{
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .navItemMobile:hover{
        background-color: #2d32c052;
    }

    .navLink{
        color: white;
        text-decoration: none;
    }
} */

@media all and (max-width: 360px) {
  .main {
    height: 100vh;
  }

  .textHeading {
    font-size: 5vh;
  }

  .rowHome {
    gap: 28vh;
  }
  /* 
  .dropArrow {
    margin-left: 0;
  } */

  .container0 {
    min-height: 30vh;
    gap: 1vh;
  }

  .container1 {
    min-height: 30vh;
    gap: 1vh;
  }
}
