.EditAccountform {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 25px;
	min-width: 750px;
	justify-content: center;
	align-items: center;
	background-color: #d9d9d9;
	border-radius: 15px;
	margin: 0 auto;
}


.editInput {
	display: flex;
	padding: 8px;
	border-radius: 10px;
	text-align: center;
	width: 60vh;
	gap: 10px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-bottom: 30px;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.imageButton {
	background-color: none;
	width: 5vh;
}

.row label {
	width: 120px;
}

@media all and (max-width: 820px) {
	.EditAccountform {
		width: 93.6vw;
	}

	.postsContainer {
		margin: 90px auto 10px;
	}

	.row label {
		width: 180px;
	}
}

@media all and (min-width: 360px){
	.EditAccountform {
		width: 80vw;
	}
}

@media all and (max-width: 360px){
	.EditAccountform {
		width: 80vw;
		margin-left: 10px;
	}
}