.column{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post{
    min-height: 30vh;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90vh;
    gap: 20px;
}

.buttonContainer{
    display: flex;
    justify-content: end;
}

.title{
    margin: 0;
    padding: 0;
    font-size: 25px;
}