.Page{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.023), rgba(0, 0, 0, 0.496)), url(../../assets/images/backgrounds/Agebackground.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  margin: 0;
  flex-direction: column;
  gap: 40px;
}

.ContainerMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #433E8E;
  min-width: 400px;
  max-width: 700px;
  max-height: 550px;
  overflow-x: hidden;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        background-color: #433E8E;
        min-width: 600px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.photo{
  display: flex;
  height: 250px;
}

.rowContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
      
.Message { 
    color: whitesmoke;
    text-align: center;
}

.ColumnContainer{
  display: flex;
  margin-left: 60px;
  margin-right: 200px;
  flex-direction: column;
}
      
.AdditionalTextBelow {
    color: whitesmoke;
    text-align: center;
}
      
      .backButton {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        font-size: 16px;
        color: white;
        background-color: #4BA5E1;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .title{
      display: flex;
      color: white;
      font-size: 30px;
    }

    .topMenu{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: white;
      gap: 60px;
      width: 600px;
      background-color: #433E8E;
      border-radius: 10px;
    }

    .errorMessage{
      color: white;
    }
    